{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product list</h1>

    <table>
        <thead>
            <tr>
                <th>Product_id</th>
                <th>Product_name</th>
                <th>Product_img_name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.product_id }) }}">{{ product.productid }}</a></td>
                <td>{{ product.productname }}</td>
                <td>{{ product.productimgname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.product_id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.product_id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
