{% extends '::base.html.twig' %}

{% block title %}Vitchkovski | Add Product{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <script type="text/javascript">
    var catNumber = 0;
    </script>
    <script src="{{ asset('js/add-category.js') }}"></script>
{% endblock %}

{% block body %}
    <h2>Add Product | {{ app.user.username }}</h2>
    <form enctype="multipart/form-data" role="form" method="post"
          action="{{ path('VitchkovskiProductsBundle_createProduct') }}">
        <div class="form-group">
            <div class="hide-upload-btn-div">
                {{ form_label(form.product_img_name, 'Product Picture') }}
                {{ form_widget(form.product_img_name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.product_name, 'Product Name:') }}
            {{ form_widget(form.product_name, {'attr': {'class': 'form-control', 'placeholder':'Product Name'}}) }}
             {{ form_row(form._token) }}
        </div>

        {{ form_label(form.categories, 'Category:') }}

        {% for category in form.categories %}
            <div class="form-group">
                {{ form_widget(category.category_name, {'attr': {'class': 'form-control', 'placeholder':'Category Name'}}) }}
            </div>
        {% endfor %}
        {% if form.categories|length == 0 %}
            <div id="product_categories___name__" class="form-group">
                <input class="form-control" placeholder="Category Name" type="text"
                       id="product_categories___name___category_name"
                       name="product[categories][0][category_name]"
                       maxlength="255"/>
            </div>
        {% endif %}
        <div class="categories"
             data-prototype="
         {% filter escape %}
             {{ include('VitchkovskiProductsBundle:Templates:categoryPrototype.html.twig', { 'form': form.categories.vars.prototype }) }}
         {% endfilter %}">
        </div>
        <div align="right">
            <input class="btn btn-success" name="updateProduct" type="submit" value="Save">
            <a class="btn btn-danger" href="{{ path('VitchkovskiProductsBundle_userPersonalPage') }}">Cancel</a>
        </div>
        <br>
    </form>

    {% spaceless %}
        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}

                {% for children in form.children %}
                    {% if not children.vars.valid %}
                        {{ form_errors(children) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}

{% endblock %}