{% extends '::base.html.twig' %}

{% block title %}Vitchkovski | Registration Page{% endblock %}

{% block body %}

        <form action="{{ path('VitchkovskiProductsBundle_register') }}" method="post" class="form-signin"
              name='register_form' id='register_form'>
            <h2 class="form-signin-heading">Register</h2>
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'User Name'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}
            {#  {{ form_row(form._token) }} #}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            <div align="center">
                <a class="sign-in" href="{{ path('VitchkovskiProductsBundle_login') }}">Already have an account? Login</a>
            </div>

        </form>

        {% if errors is defined  and errors|length > 0%}
            {%- for error in errors -%}
            <p class="alert alert-danger">
                {{ error[0] }}
            </p>
            {%- endfor -%}
        {% endif %}
{% endblock %}