{% extends '::base.html.twig' %}

{% block title %}Vitchkovski | Registration Page{% endblock %}

{% block body %}

        <form action="{{ path('VitchkovskiProductsBundle_register') }}" method="post" class="form-signin"
              name='register_form' id='register_form'>
            <h2 class="form-signin-heading">Register</h2>
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'User Name'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}
            {#  {{ form_row(form._token) }} #}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            <div align="center">
                <a class="sign-in" href="{{ path('VitchkovskiProductsBundle_login') }}">Already have an account? Login</a>
            </div>

        </form>

    {% spaceless %}
        {% if not form.vars.valid  %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}

            {% for children in form.children %}
                {% if not children.vars.valid %}
                        {{ form_errors(children) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}